body {
    background-image: url('900w-X1220JOurQk.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 10%;

}

p {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

}